<h3>The following Team will be deleted: "<%= @team.name %>".<br> All characters on the team will be returned to your unassigned characters roster, proceed?</h3>
<h3><a href="/teams/confirm_delete/<%= @team.id %>">Yes</a>------<a href="/teams">No</a></h3>
  