<h1> Team Creation </h1>
<br>
<p class=error><%= @error %></p>

<form action="/teams/create" method="post">
  <input type="hidden" name="user_id" value="<%= @current_user.id %>">
  Name of Team
  <input type="text" name="name" value="<%= params["name"] %>">
  <input type="submit" value="Submit">
</form>