<h1>Search The Marvel Database</h1>
<h2><%= @error %>
<h3>Type in the name of a character you want on your roster <br>(Full name or partial name)</h3>
<form class="search" action="/search_results" method="post">
  Enter Search Here
  <input type="text" name="user_search" required>
  <input type="hidden" name="user_id" value=<%= @current_user.id %>>
  <input type="submit" value="Submit">
</form>