<h1><a href="/characters">Your Characters</a><br>All Characters</h1>
<% @users.each do |user|  %>
  <h2><img src="<%= user.image %>" height="50" width="50"><%= user.name %></h2>
  <% user.characters.each do |char|  %>
    <%= partial(:"characters/char_display", :char => char) %>
  <% end %>
  <hr>
<% end  %>