<h1>WARNING WARNING THIS IS LIKE DROPPING A TACTICAL NUKE ON YOUR ACCOUNT!!!</h1>
<h2>This will delete you, your teams, your wishlist and your characters</h2>
<h3><a href="/user/confirm_delete">I don't care</a>-----<a href="/user/profile">NO MY ACCOUNT WANTS TO LIVE!!!</a></h3>