<h1> Welcome to The Fantasy Marvel League!</h1>
<br>
<br>
<br>
<div class="login">
  <p><%= @error  %></p>
  <form action="/login/user/verification" method="post">
    Enter User Name
    <input type="text" name="name" value="<%= params[:name] %>"><br>
    Enter Password
    <input type="password" name="password"><br>
    <input type="submit" value="Submit">
  </form>
  <br>
  <br>
  <a href="/login/user/setup">New to FML? Sign up here!</a>
</div>